<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>BusController</servlet-name>
        <url-pattern>/install</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusController</servlet-name>
        <servlet-class>ma.fstm.ilisi.busway.controller.BusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusController</servlet-name>
        <url-pattern>/buses</url-pattern>
        <url-pattern>/newBus</url-pattern>
        <url-pattern>/editBus</url-pattern>
        <url-pattern>/saveBus</url-pattern>
        <url-pattern>/updateBus</url-pattern>
        <url-pattern>/deleteBus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConducteurController</servlet-name>
        <servlet-class>ma.fstm.ilisi.busway.controller.ConducteurController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConducteurController</servlet-name>
        <url-pattern>/conducteurs</url-pattern>
        <url-pattern>/newConducteur</url-pattern>
        <url-pattern>/editConducteur</url-pattern>
        <url-pattern>/saveConducteur</url-pattern>
        <url-pattern>/updateConducteur</url-pattern>
        <url-pattern>/deleteConducteur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StationController</servlet-name>
        <servlet-class>ma.fstm.ilisi.busway.controller.StationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationController</servlet-name>
        <url-pattern>/stations</url-pattern>
        <url-pattern>/newStation</url-pattern>
        <url-pattern>/editStation</url-pattern>
        <url-pattern>/saveStation</url-pattern>
        <url-pattern>/updateStation</url-pattern>
        <url-pattern>/deleteStation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VoyageController</servlet-name>
        <servlet-class>ma.fstm.ilisi.busway.controller.VoyageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoyageController</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/reserve</url-pattern>
        <url-pattern>/voyages</url-pattern>
        <url-pattern>/newVoyage</url-pattern>
        <url-pattern>/editVoyage</url-pattern>
        <url-pattern>/saveVoyage</url-pattern>
        <url-pattern>/updateVoyage</url-pattern>
        <url-pattern>/deleteVoyage</url-pattern>
    </servlet-mapping>

</web-app>